<div class="dialog-header">
  <div class="dialog-close">
    <button mat-button mat-dialog-close>X</button>
  </div>
  <div class="dialog-title">
    <h2>{{titulo}}</h2>
  </div>
</div>
<div class="dialog-conteiner">
    <mat-dialog-content>
        <app-atendimentos-form></app-atendimentos-form>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancelar</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button [mat-dialog-close]="true">Salvar</button>
    </mat-dialog-actions>
</div>