<div class="dialog-header">
  <div class="dialog-close">
    <button mat-button mat-dialog-close>X</button>
  </div>
  <div class="dialog-title">
    <h2>{{titulo}}</h2>
  </div>
</div>
<div class="dialog-conteiner">
    <mat-dialog-content>
        <app-atendimentos-form
          (emiteFormulario)="enviarFormulario($event)"
        >
        </app-atendimentos-form>
    </mat-dialog-content>
    <!-- <hr>
    <mat-dialog-actions>
      <button mat-button [mat-dialog-close]="true">Cancelar</button>
      <button type="submit" mat-button color="primary" (click)="onSubmit($event)">Salvar</button>
    </mat-dialog-actions> -->
</div>