.dialog-header {
    display: flex;
    justify-content: center;
    background-color: #3f51b5;
    color: #ffff;
    padding: 10px;
}

.dialog-conteiner {
    padding: 10px;
}

button {
    background-color: #3f51b5;
    color: #ffff !important;    
}