.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 60px;
    grid-gap: 10px;
}

.footer {
    grid-row-start: 3;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    position: fixed; 
    bottom: 0; 
    left: 0;
    height: 116px;
}

@media (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr 60px;
    }

    .footer {
        color: white;
        text-align: center;
        padding-bottom: 20px;
        width: 100%;
        position: fixed; 
        bottom: 0; 
        left: 0;
        height: 116px;
    }
}