* {
    font-family: 'Roboto', sans-serif;
}

img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

#amarelo {
    color: yellow;
}

#vermelho {
    color: red;
}

#azul {
    color: lightblue;
}

#marrom {
    color: maroon;
}

#violeta {
    color: purple;
}