<div class="carousel">
    <div class="slides">
      <div class="slide">
        <img [src]="slide1" alt="">
      </div>
      <div class="slide">
        <img [src]="slide2" alt="">
      </div>
      <div class="slide">
        <img [src]="slide3" alt="">
      </div>
      <!-- Adicione mais slides conforme necessário -->
    </div>
    <button mat-button color="primary" class="prev" (click)="prevSlide()">< Anterior</button>
    <button mat-button color="primary" class="next" (click)="nextSlide()">Próximo ></button>
</div>
  