.invalid-field {
    border: 1px solid red;
}

mat-error {
    color: red;
    font-size: 10px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 56px 56px 56px 150px 30px;
    grid-gap: 10px;
}

.row-1 {
    grid-row-start: 1;
}

.row-2 {
    grid-row-start: 2;
}

.row-3 {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.row-4 {
    grid-row-start: 4;
}

.row-5 {
    grid-row-start: 5;
    display: flex;
    justify-content: flex-end;
}

button[type="submit"] {
    background-color: #3f51b5;
    color: #ffff !important; 
    width: 83px;   
}

button {
    border: 1px solid #3f51b5;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="date"] {
    width: 96%;
    color: var(--mdc-dialog-supporting-text-color, rgba(0, 0, 0, 0.6));
}

#nome-tutor > input, #nome-pet > input, 
    #observacao > textarea {
    width: 100%;
}

@media (max-width: 500px) {
    form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 56px 56px 1fr 1fr 30px;
        grid-gap: 10px;
    }
    
    .row-3 {
        grid-row-start: 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    input[type="date"] {
        width: 100%;
    }

    textarea {
        width: 98% !important;
    }
}