.invalid-field {
    border: 1px solid red;
}

mat-error {
    color: red;
    font-size: 10px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 60px 60px;
    grid-gap: 10px;
}

.row-1 {
    grid-row-start: 1;
}

.row-2 {
    grid-row-start: 2;
}

.row-3 {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.row-4 {
    grid-row-start: 4;
}

#nome-tutor > input, #nome-pet > input, 
    #observacao > textarea {
    width: 100%;
}