<div class="dialog-header">
  <div class="dialog-close">
    <button mat-button mat-dialog-close>X</button>
  </div>
  <div class="dialog-title">
    <h2>{{title}}</h2>
  </div>
</div>
<div class="dialog-conteiner">
  <mat-dialog-content>
    <app-atendimentos-detalhe-view [dadosItemSelecionado]="dadosItemSelecionado"></app-atendimentos-detalhe-view>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Fechar</button>
  </mat-dialog-actions>
</div>