#card-list {
    height: 100% !important;
    box-shadow: none;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}

.mat-mdc-card-header {
    justify-content: space-between;
    align-items: center;
}

.btn-cadastrar {
    text-align: right;
}

button {
    margin-bottom: 10px;
    color: #ffff !important;
    background-color: #3f51b5;
    height: 40px;
}

.button-container {
    margin-left: auto;
}
