#card-list {
    height: 100% !important;
    box-shadow: none;
}

.mat-mdc-card-header {
    justify-content: space-between;
    align-items: center;
}

.btn-cadastrar {
    text-align: right;
}

button {
    margin-bottom: 10px;
    color: #ffff !important;
    background-color: #3f51b5;
    height: 40px;
}

.button-container {
    margin-left: auto;
}
