.container {
    width: 800px;
    background-color: #f4bf96;
    margin: 10px auto;
    display: grid;
    /* grid-template-columns: 1fr 20% 1fr; */
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(3, 100px); */
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
    /* grid-row-gap: 20px;
    grid-column-gap: 20px; */
    grid-auto-rows: 50px;
    grid-auto-flow: column;
}

.item {
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
    border-radius: 5px;
}

.A1, .A8 {
    background-color: green;
}

.A2 {
    background-color: red;
}

.A3 {
    background-color: yellow;
}

.A4 {
    background-color: blueviolet;
    grid-column: 1/-1;
}

.A5 {
    background-color: greenyellow;
    grid-row-start: 3;
    grid-column-start: 3;
}

.A6, .A7 {
    background-color: orange;
}

.A7 {
    /* grid-area: 1/2/3/4; */
    grid-column: 1/span 3;
}

.A8 {
    grid-row: 3/4;
    grid-column: 3/4;
}

.A9 {
    background-color: brown;
    grid-row-start: 1;
    grid-row-end: 3;
}