<div class="dialog-header">
    <div class="dialog-close">
      <button mat-button mat-dialog-close>X</button>
    </div>
    <div class="dialog-title">
      <h2>{{title}}</h2>
    </div>
</div>
<div class="dialog-conteiner">
    <mat-dialog-content [innerHTML]="template"></mat-dialog-content>
    <hr>
    <mat-dialog-actions>
    <button type="submit" mat-button color="primary" [mat-dialog-close]="true">{{btnTextConfirm}}</button>
    <button mat-button [mat-dialog-close]="false">{{btnTextCancel}}</button>
    </mat-dialog-actions>
</div>